# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Arquivos temporários
*.log
*.tmp
*.bak

# Variáveis de ambiente
.env
.env.*
!.env.example
