APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

PIPEDRIVE_COMPANY_DOMAIN=metadevendasltda
PIPEDRIVE_API_TOKEN=
PIPEDRIVE_PIPELINE_ID=1
PIPEDRIVE_STAGE_ID=1
PIPEDRIVE_OWNER_ID=23227558
PIPEDRIVE_TIMEOUT=5
PIPEDRIVE_ORG_WEBSITE_FIELD_KEY=website
PIPEDRIVE_DEAL_REVENUE_FIELD_KEY=3c10c38dd50cfdb9391ce940db1cfd32d140a230
PIPEDRIVE_DEAL_SOURCE_FIELD_KEY=e7ccd0cb1e99148064208611df3718619a9e8e6a
PIPEDRIVE_DEAL_SOURCE_OPTION_ID=64
PIPEDRIVE_DEAL_SOURCE_PAGE_FIELD_KEY=9ce5ebefd938ed248d794524880acd467c5cda5d
PIPEDRIVE_DEAL_LOCAL_ID_FIELD_KEY=7be18031258194c65febd2331c6378ad654b9d93
PIPEDRIVE_REVENUE_UP_TO_50000_OPTION_ID=58
PIPEDRIVE_REVENUE_50001_75000_OPTION_ID=59
PIPEDRIVE_REVENUE_75001_150000_OPTION_ID=60
PIPEDRIVE_REVENUE_150001_250000_OPTION_ID=61
PIPEDRIVE_REVENUE_250001_500000_OPTION_ID=62
PIPEDRIVE_REVENUE_ABOVE_500000_OPTION_ID=63
